@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}

body * {
    text-align: center;
    margin: auto;
    font-family: system-ui;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 0.5em;
}

img {
    border-style: solid;
    border-width: 2px;
    border-color: gray;
}

button {
    font-size: 1em;
    border: none;
    padding: 0.5em;
}

button:hover, #food_display_container img:hover, #video_stream:hover {
    cursor: pointer;
}

.action_btn {
    background-color: #ffd075;
    width: 10%;
    margin: 1em;
}

#mode {
    font-size: 0.5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
}

#user_mode_btn, #dev_mode_btn {
    width: 100%;
    height: 100%;
}

#user_mode_btn {
    background-color: #adc7dc;
}

#dev_mode_btn {
    background-color: #d6e3ed;
    color: white;
}

#food_display_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#food_display_container h2 {
    margin-top: 1em;
}

.pick_container, #camera_container {
    margin: 0;
}

.pick_container {
    background-color: #fffbef;
}

#camera_container {
    background-color: #f3f9ff;
}

#food_image_container, #action_image_container, #transfer_image_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.food_image, .action_image, .transfer_image {
    margin: 0.2em;
    margin-top: 0;
    padding: 0.2em;
    padding-top: 0;
}

.action_name, .transfer_name {
    font-size: 1.2em;
    margin-bottom: 0em;
}

.auto_msg {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.5em;
}

#time_to_feed_btn {
    margin-top: 1.5em;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 2em;
    background-color: #ffa500;
    color: white;
    border-radius: 20px;
}

#timing_status {
    margin-top: 1em;
    margin-bottom: 3em;
}

.status {
    margin: auto;
    font-weight: 800;
    font-size: 1.5em;
    color: #631919;
    display: none;
}

#restart_btn {
    margin-top: 3em;
    padding: 0.8em;
    font-size: 2em;
    background-color: #ddd;
    border-radius: 20px;
}

#video_stream_container, #food_choosing_interface {
    padding: 1em;
}

#video_stream_container, #food_choosing_interface {
    background-color: #e3f4ff;
    display: none;
    position: relative;
}

.back_btn {
    background-color: rgb(148, 148, 148);
    color: white;
    position: absolute;
    top: 1em;
    left: 1em;
}

#video_stream, #actions {
    margin-top: 1em;
    margin-bottom: 1em;
}

#video_stream, #camera {
    margin: 1em;
}

#video_stream {
    margin: auto;
}

#estop {
    display: block;
    background-color: #f67e85;
    margin-top: 0.8em;
    padding: 1.2em;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    border-radius: 20px;
    font-size: 1.6em;
    font-weight: bold;
}

#trial_dropdown_container {
    margin-top: 1em;
    position: fixed;
    right: 10px;
    top: 10px;
}

.dropdown, #trial_dropdown_container p {
    display: inline-block;
    font-size: 0.8em;
}

.dropdown {
    position: relative;
}

.dropdown, .dropbtn, .dropdown_content {
    width: 80px;
}

.dropbtn {
    background-color: #ebebeb;
    border-radius: 10px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 0.5em 0.6em;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropbtn {
    background-color: #e5f2f6;
}


/* Mobile Friendly Style */
@media screen and (max-width: 1200px) {
    #camera_container canvas, #video_stream canvas {
        width: 505px;
        height: 380px;
    }
}

@media screen and (max-width: 1050px) {
    #camera_container canvas, #video_stream canvas {
        width: 466px;
        height: 350px;
    }
}

@media screen and (max-width: 1000px) { 
    .pick_container, #camera_container {
        padding: 0.8em;
        margin: 1em;
    }

    #food_display_container {
        display: block;
    }
    
    .pick_container {
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    #mode {
        width: 80%;
    }

    .pick_container, #camera_container {
        margin: auto;
    }
    
    #camera_container canvas, #video_stream canvas {
        width: 300px;
        height: 225px;
    }

    #camera {
        margin: 0;
    }

    #estop {
        margin-top: 0.5em;
        margin-bottom: 2em;
    }
}