/* There is a known bug in Firefox where the buttons in this class don't 
   change styles when clicked. Must be addressed before incorporating
   one of these mock-ups into the actual app. */
.RectButtonsOnImg:hover {
  border-radius: 12px;
  fill: red;
  cursor: pointer;
}
.RectButtonsOnImg {
  pointer-events: all;
}
